.app_footer {
    background-color: white;
    position: sticky;
    bottom: 0px;
    width: 99%;
    padding: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.Progress_bar {
    width: 70%;
    margin: 0vh 0px 2vh 0px;
}

.Upload_data {
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.Upload_button{
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

.Caption_input {
    width: 30vw;
}

.dark .app_footer {
    color: aqua;
    background-color: rgb(5, 5, 22);
    border-top: 1px solid rgb(7, 2, 26);
}

.dark .Caption_input {
    background-color: rgb(15, 9, 32);
    color: #befffc;
}

.dark .Upload_button {
    color: aqua;
    background-color: rgb(160, 52, 52);
}

@media only screen and (max-width: 600px) {

}